body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  overflow-x: hidden; 
}

.jumbotron {
  margin-bottom: 0;
  padding: 4rem 1rem;
  text-align: center;
  color: #fff;
}

.navbar {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}

footer {
  margin-top: -10px;
  background-color: #222;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #007bff;
}
.btn-success
{
  width: 800px;
  height: 200px;
  border: 2px solid black;
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.5s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.dropdown-menu a:hover {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}

#about {
  padding: 2rem 1rem;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

#about p {
  margin-bottom: 1rem;
  color: #666;
}

#carouselExampleIndicators {
  margin-top: 2rem;
}

#carouselExampleIndicators .carousel-inner img {
  width: 100%;
  border-radius: 10px;
}
.container{
  margin-top: -38px;
}
#services {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  text-align: center;
}

#services h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.service-item {
  margin-bottom: 2rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add border shadow */
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service-item h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: #424242;
}

.service-item p {
  font-size: 1rem;
  color: #666;
}


@media (min-width: 768px) {
  .service-item {
    padding: 0 1rem;
  }
}


.service-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.5s;
}

.service-image:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.btn-success-custom {
  background-color: crimson;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  height: 40px; /* Adjust height as needed */
}

.btn-success-custom:hover {
  background-color: #008000;
   /* Hover color */
  height: 45px; /* Increase height on hover */
}