/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    justify-content: center;
    
}

.signup-form {
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.input-container i {
    margin-right: 10px;
    color: #777;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

select {
    padding: 8px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a{
    margin-top: 9px;
    display: flex;
justify-content: center;
}
footer {
   color: #007bff;
    margin-top: 6px;
   
}
